/* primary: #007bff */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    transition: all 1s ease-in-out;
}

.text-sm {
    font-size: .9em
}

.text-xs {
    font-size: .6em
}

.text-decoration-line-through {
    text-decoration: line-through
}

.link {
    cursor: pointer;
}

.text-upper {
    text-transform: uppercase;
}

.bg-gradiant {
    background: rgb(142, 107, 255);

    background: linear-gradient(60deg, rgba(142, 107, 255, 1) 0%, rgba(252, 70, 165, 1) 100%);
}

.new-item-demo {
    opacity: .3;
}